* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
}

.topo {
    background-color: rgb(175, 174, 174);
    justify-content: space-between;
    padding: 20px;
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
}
.topo h1{
    color: white;
}

.logo {
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste o tamanho conforme necessário */
}

.text-container {
    display: flex;
    flex-direction: column; /* Alinha o h1 e o p verticalmente */
}
.menus{
    background-color: aqua;
    padding: 20px;
}
h1, p {
    margin: 0; 
}

.splide {
    width: 100%; /* O carrossel ocupa 100% da largura */
    max-width: 100%;
    margin: auto;
}

.splide__slide img {
    width: 100%; /* Imagem ocupa 100% da largura do carrossel */
    height: 400px; /* Altura fixa de 400px */
    object-fit: cover; /* Corta a imagem para preencher a altura sem distorção */
}

/* Container das caixas */
.box-container {
    
    display: flex;
    justify-content: center; /* Centraliza as caixas */
    gap: 30px; /* Espaçamento maior entre as caixas */
    margin-top: 20px;
    padding-left: 50px; /* Adiciona espaço à esquerda para garantir centralização */
    width: 100%;

    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
}

/* Estilo das caixas */
.box {
    background-color: rgb(179, 179, 179);
    width: 23%;
    height: auto;
    border-radius: 15px; /* Bordas arredondadas na caixa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Imagens maiores e sem borda arredondada */
.box img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Imagens sem borda arredondada */
    margin-bottom: 15px;
}

/* Botões dispostos um abaixo do outro */
.box-buttons {
    display: flex;
    flex-direction: column; /* Organiza os botões verticalmente */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 10px;
    width: 75%;
}

.box-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #128c7e;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.box-buttons button:hover {
    background-color: #0056b3;
}


/* Estilos para a seção de mapa e endereço */
.map-and-address-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin-top: 40px;
}

/* Estilo para o mapa */
.map {
    width: 50%; /* O mapa ocupa 50% da largura */
    height: 400px;
    border: none;
}

/* Estilo para o endereço */
.address {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.address h2 {
    margin-top: 0;
}


.address img {
    
    height: 350px;
    margin-top: 20px; /* Espaçamento entre o texto e a imagem */
    border-radius: 10px; /* Bordas arredondadas para a imagem */
}